/* Resetting default styles */
body {
    font-family: 'Inter', sans-serif; /* Assuming 'Inter' font from Google Fonts */
    background-color: #fff; /* Set your desired background color */
    color: #000; /* Black text color */
    display: flex;
    justify-content: center; /* Center aligns the content horizontally */
    align-items: center; /* Center aligns the content vertically */
    height: 100vh; /* Makes the body take up the full height of the viewport */
    margin: 0; /* Remove default margin */
}

/* Styles for the link */
.link-style {
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    font-family: 'Inter', sans-serif; /* Use Inter font */
    font-size: 14px; /* Text size */
    font-weight: 400; /* Regular font weight */
}

/* Additional styles for centered text */
.centered-text {
    font-size: 14px; /* Adjust font size as needed */
    font-weight: 500; /* Adjust font weight as needed */
    /* Additional styles for your centered text */
}

.link-style {
    color: black; /* Text color */
    text-decoration: none; /* Remove underline */
    font-family: 'Inter', sans-serif; /* Use Inter font */
    font-size: 14px; /* Text size */
    font-weight: 400; /* Regular font weight */
  }